body {
  margin: 0;
}

.container {
  width: 50px auto;
  margin: 50px auto;
}

/* banner - top section */
.banner {
  width: auto;
  background-image: url(https://miro.medium.com/max/4112/1*4NOuRJAXpull9polV9vcyg.png);
  height: 700px;
  padding: 60px;
  text-align: center;
  font-size: 30px;
  background-position: center;
  margin: 0%;
}

.top {
  position: relative;
  top: 300px;
  left: 8%;
}

.container h1 {
  color: #152D35;
  font-family: sohne,
  "Helvetica Neue",
  Helvetica,
  Arial,
  sans-serif;
  ;
  margin-bottom: 20px;
}

.top p {
  color: #7F7C82;
  font-family: 'Open Sans',
  sans-serif;
  margin-top: 0;
}

/* middle container */

.middle {
  margin-left: 10px;
}
h2 {
  font-family: sohne,
  "Helvetica Neue",
  Helvetica,
  Arial,
  sans-serif;
  ;
  font-size: 2rem;
}

.middle p{
  color: #7F7C82;
  font-family: 'Open Sans',
  sans-serif;
  font-size: 16px;
}

.link-medium {
  color: #7F7C82;
  font-family: 'Open Sans',
  sans-serif;
  font-size: 16px;
  background-color: #fdf5e8;
  padding: 3px 9px;
  border-radius: 3%;
  letter-spacing: 0.5px;
}

.link-medium:hover {
  background: linear-gradient(to left top, #fdf5e8, #F4D19B);
}

/* re-size */

@media(max-width: 576px) {
  .container {
    width: 300px;
  }
}

@media(max-width: 768px) {
  .container {
    width: 500px;
  }
  .top {
    width: 20%;
  }
}

@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}

@media(max-width: 1200px) {
  .container {
    width: 900px;
  }
}
